body {
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px dashed hsla(210, 5%, 25%, 0.664);
}

.hour {
  background-color: #f3f2f2;
  color: #000000;
  text-align: center;
  padding-top: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.expired {
  background-color: red;
  color: white;
}

.current {
  background-color: yellow;
  color: black;
}

.future {
  background-color: green;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-bottom: 0px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(1, 128, 156);
  color: white;
  text-align: center;
}

.saveBtn i:hover {
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}
